@import 'tailwindcss';
@import '@learning-animated/design/theme.css';
@source '../';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: var(--font-sans);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  a {
    color: var(--color-link);
  }
}
